@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
body {
  background-color: #DAE3E5;
  background-image: url("../images/010.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#sign-up {
  position: fixed;
  width: 226px;
  height: 60px;
  top: 40%;
  left: 50%;
  margin-top: -30px;
  margin-left: -113px;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #fcfdff;
  background: none;
  color: #fcfdff;
}

#face-sign-up {
  position: fixed;
  width: 226px;
  height: 60px;
  top: 60%;
  left: 50%;
  margin-top: -30px;
  margin-left: -113px;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #fcfdff;
  background: none;
  color: #fcfdff;
}

#sign-up:hover {
  border-color: #507DBC;
  color: #507DBC;
  cursor: pointer;
}

#sign-up-modal {
  position: fixed;
  width: 350px;
  height: 500px;
  top: 200%;
  left: 50%;
  margin-top: -250px;
  margin-left: -175px;
  background-color: #fff;
  opacity: 0;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 100px -10px #000000;
  box-shadow: 0 0 100px -10px #000000;
}


#close-modal {
  position: absolute;
  top: 25px;
  right: 36px;
  font-size: 24px;
  cursor: pointer;
  color: #DAE3E5;
}
#face-close-modal {
  position: absolute;
  top: 25px;
  right: 36px;
  font-size: 24px;
  cursor: pointer;
  color: #DAE3E5;
}

#sign-up-modal h2 {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #04080F;
  padding-top: 36px;
}

#sign-up-modal img {
  display: block;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 20px;
}

#sign-up-modal input {
  width: 280px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #DAE3E5;
  font-size: 16px;
  font-family: Nunito, sans-serif;
  font-weight: 300;
}

#sign-up-modal #submit {
  background-color: #507DBC;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  display: block;
  padding: 12px 120px;
  cursor: pointer;
}

#sign-up-modal #submit:hover {
  background-color: #BBD1EA;
}

#sign-up-modal #password-reveal {
  background: none;
  border: none;
  position: absolute;
  top: 382px;
  right: 30px;
  cursor: pointer;
}
#sign-up-modal #password-reveal img {
  padding: 0;
}

#face-sign-up:hover {
  border-color: #507DBC;
  color: #507DBC;
  cursor: pointer;
}

#face-sign-up-modal {
  position: fixed;
  width: 350px;
  height: 500px;
  top: 200%;
  left: 50%;
  margin-top: -250px;
  margin-left: -175px;
  background-color: #fff;
  opacity: 0;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 100px -10px #000000;
  box-shadow: 0 0 100px -10px #000000;
}


#face-sign-up-modal h2 {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #04080F;
  padding-top: 36px;
}


#face-sign-up-modal img {
  display: block;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 20px;
}


#face-sign-up-modal input {
  width: 280px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #DAE3E5;
  font-size: 16px;
  font-family: Nunito, sans-serif;
  font-weight: 300;
}


#face-sign-up-modal #submit {
  background-color: #507DBC;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  display: block;
  padding: 12px 120px;
  cursor: pointer;
}

#face-sign-up-modal #submit:hover {
  background-color: #BBD1EA;
}

#face-sign-up-modal #password-reveal {
  background: none;
  border: none;
  position: absolute;
  top: 382px;
  right: 30px;
  cursor: pointer;
}

#face-detection-button-position{
  position: relative;
  top: 40%;
  background-color: white;
  width: 100%;
}





.animationIn {
  animation: modalIn 2s;
  animation-fill-mode: both;
}

@keyframes modalIn {
  0% {
    opacity: 0;
    top: 200%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}
.animationOut {
  animation: modalOut 2s;
  animation-fill-mode: both;
}

@keyframes modalOut {
  100% {
    opacity: 0;
    top: 200%;
  }
  0% {
    opacity: 1;
    top: 50%;
  }
}
